*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  height:800px;
}

.main-one{
  height:200px;
  background-image:url(img/box1.jpg);
  background-size:cover;
  background-position:center;
}

.main-two{
  height:200px;
  background-image:url(img/box2.jpg);
  background-size:cover;
  background-position:center;
}

.main-three{
  height:200px;
  background-image:url(img/box3.jpg);
  background-size:cover;
  background-position:center;
}

.main-four{
  height:200px;
  background-image:url(img/box4.jpg);
  background-size:cover;
  background-position:center;
}
